/*---------- General Classes -------------*/
.margin_top{
  margin-top: $margin-two;
}
.margin_bottom{
  margin-bottom: $margin-two;
}
.padding_top{
  padding-top: $padding-two;
}
.padding_bottom{
  padding-bottom: $padding-two;
}
