{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
<section class="ads">
  {% if ads_count > 0 %}
  <div class="container">
    <h2 style="text-align: center">
      نتائح البحث عن:
    {{ title }}
    </h2>
  <div class="products list" id="market">
    {% for post in posts %}
      {% include 'partial/search_ad_box.twig' %}
    {% endfor %}
  </div>
  </div>
  {% else %}
  <div class="container">
  <h2 style="text-align: center">
 لا يوجد نتائج بحث عن:
    {{ title }}
  </h2>
  </div>
  {% endif %}
</section>
    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </div>
{% endblock %}
